/* Global */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #7ecbff, #b5e5ff);
    text-align: center;
}

/* Title */
h1 {
    font-size: 26px;
    margin-top: 20px;
}

/* Search */
.search-box {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-box input {
    padding: 10px;
    width: 220px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.search-box button {
    padding: 10px 18px;
    background: #000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Weather Card */
.weather-card {
    width: 90%;
    max-width: 400px;
    margin: 15px auto;
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.weather-card h2 {
    margin-bottom: 10px;
}

.weather-icon img {
    width: 80px;
    height: 80px;
}

.temp {
    font-size: 32px;
    font-weight: bold;
}

/* Forecast Title */
.forecast-title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* Forecast Grid */
.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

/* Forecast Cards */
.forecast-card {
    width: 120px;
    background: white;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.12);
}

.forecast-card img {
    width: 45px;
    margin: 10px 0;
}

.forecast-card p {
    margin: 4px;
    font-size: 14px;
}

/* Responsive */
@media (min-width: 768px) {
    .forecast-card {
        width: 150px;
        padding: 18px;
    }
}
