* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: linear-gradient(to bottom, #9fd8ff, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    transition: background 1s ease-in-out;
    font-family: "Poppins", sans-serif;
}

.sunny {
    background: linear-gradient(to bottom, #ffeb3b, #ff9800);
    background-size: cover;
    background-attachment: fixed;
}

.cloudy {
    background: linear-gradient(to bottom, #b3c1d1, #e3e9ef);
    background-size: cover;
    background-attachment: fixed;
}

.rainy {
    background: linear-gradient(to bottom, #455f73, #1b2735);
    background-size: cover;
    background-attachment: fixed;
}

.snow {
    background: linear-gradient(to bottom, #e0f7ff, #ffffff);
    background-size: cover;
    background-attachment: fixed;
}

.default-bg {
    background: linear-gradient(to bottom, #9fd8ff, #ffffff);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

.searchBox {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.searchBox input {
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    border: 2px solid #333;
}

.searchBox button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.weather-card {
    display: none;
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.forecast-box {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.forecast-item {
    background: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

/* Rain Animation */
.rain {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('https://i.imgur.com/qWHdZ8V.png');
    animation: rain 0.3s linear infinite;
    pointer-events: none;
}

@keyframes rain {
    0% { background-position: 0 0; }
    100% { background-position: 0 30px; }
}

/* Sun Animation */
.sun {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background: yellow;
    border-radius: 50%;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
